img{
	width: 100%;

	margin: 0 auto;
}
body{
	background-color: linen;
}
.top{
	display: flex;
	justify-content: center;
	font-family: 'Permanent Marker', cursive;
	font-size: 50px;
	text-shadow: 4px 4px 4px #aaa;
	color: darkgoldenrod;
	line-height: 80%;
}
.topnav {
  background-color: wheat;
  overflow: hidden;
  display: flex;
  justify-content: center;
  font-family: 'Acme', sans-serif;
  font-size: 30px;
}

.topnav a {
  float: left;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: ghostwhite;
  color: black;
}
h3{
	display: flex;
	justify-content: center;
	font-family: 'Permanent Marker', cursive;
	font-size: 50px;
	text-shadow: 4px 4px 4px #aaa;
	color: darkgoldenrod;
	line-height: 80%;
}
.video{
	margin: 0 auto;
	width:560px;
	height:315px;
}
.player{
	width: 20%;
	height: 20%;
}
